@{
    ViewBag.Title = "WelcomePage";
}
<h2>
    Welcome : @Session["UserName"].ToString()
</h2>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<p>

    <a href="#" class="btn btn-info btn-lg">
        <span class="glyphicon glyphicon-plus-sign" onclick="location.href='@Url.Action("Create", "Employee_details")'"> </span> Addemployee
    </a>
</p>
<p>

    <a href="#" class="btn btn-info btn-lg">
        <span class="glyphicon glyphicon-plus-sign" onclick="location.href='@Url.Action("Create", "Client_Details")'"> </span> AddClient
    </a>
</p>
<p>

    <a href="#" class="btn btn-info btn-lg">
        <span class="glyphicon glyphicon-plus-sign" onclick="location.href='@Url.Action("Create", "Bill_")'"> </span> AddBill
    </a>
</p>

@*<input id="Login" type="submit" onclick="location.href='@Url.Action("Index", "Employee_details")'" style="" width="200" height="34" value="Home" />*@
