@model login.Models.Client_Details

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Client_Details</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Desination_at_client)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Desination_at_client)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Client_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Client_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Billing)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Billing)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Po_start_Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Po_start_Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Po_end_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Po_end_date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Employee_details.Emp_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Employee_details.Emp_Name)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
